body {
    background-color: white;
}

h1 {
    /*outline-style: dashed;*/
    text-color: #222222;
    font-family: "Berlin Sans FB";
    font-size: xx-large;
}

.wrapper {
   /* outline-style: dashed;
    outline-color: blue;*/
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto auto auto;
    grid-row-gap: 60px;
    grid-column-gap: 20px;
}

ul li {
    position: relative;
    /*outline-style: dashed;
    outline-color: red;*/
    background-color: whitesmoke;
    alignment: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.titletext {
   /* outline-color: green;
    outline-style: dashed;*/
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.plottext {
    /* outline-color: green;
     outline-style: dashed;*/
    font-size: large;
    text-align: left;
}

li div {
    display: inline-block;
    position: absolute;
    margin: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
  /*  outline-color: darkcyan;
    outline-style: dashed;*/
    background-color: rgba(2,2,2,0.8);
    width: 100%;
}

li img {
    margin-top: 50px;
 /*   outline-style: dashed;*/
    height: 450px;
    width: 335px;
}