body {
    background-color: white;
}

h1 {
    text-color: #222222;
    font-family: "Roboto Light";
    font-size: xx-large;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}

ul {
    margin: unset;
}

ul li {
    position: relative;
    alignment: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: "Roboto Light";
}

.titletext {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.plottext {
    font-size: large;
    text-align: left;
}

/*This css positions the dark transparent background of the div that i use around the text over the images.*/
li div {
    display: inline-block;
    position: absolute;
    margin: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(2,2,2,0.8);
    width: 100%;
}
